body {
	margin: 0px 100px;
}

/*#poem-modal-container {
	display: none;
	margin: 0px auto;
}*/

.poem-modal {
	display: none;
	height: 500px;
	white-space: pre-wrap;
}



/*header {
	margin: 0px auto;
}*/