<!DOCTYPE html>
<html>
<head>
	<title>Wild Iris Game</title>
</head>
<body>
	<div class="pure-g">
		<header class="pure-u-1-3">
			<h1>Wild Iris</h1>
		</header>	
	</div>
	<nav>
		<a href="">Instructions</a>
		<a href="">About "The Wild Iris"</a>
		<a href="">Play Game</a>
	</nav>

	<div id='rainwater-container'>
	</div>

	<div id="grass-flowers-container">
<!-- 		generate flower cards to be displayed on "grass" -->
	</div>

	<div id="dirt-flowers-container">
<!-- 		generate flower cards to be displayed "underground" -->
	</div>

	<script type="text/x-handlebars-template" id="flower-template">
		<div class="flower-container" id="flower-{{flower.id}}">
			<div class="main-content">
				<h3>{{flower.name}}</h3>
			</div>
			<div class="image">
				{{#if flower.unlocked}}
					<img class="read-button" src="{{flower.image}}">
				{{else}}
					<p>Hungry for {{flower.fed_cap}} Drops</p>
					<img class="feed-button" src="{{flower.image}}">
				{{/if}}
			</div>
			<div class="modal-overlay">
			</div>
			<div class="pure-g">
				<div class="pure-u-1-3 poem-modal" style="display: none">
					<button class="close-modal">X</button>
					<p>{{flower.poem}}</p>
				</div>
			</div>
		</div>
	</script>

	<script type="text/x-handlebars-template" id="rainwater-template">
		<h4>Rainwater: {{rainwater.total_amount}} Drops </h4>
		<img id="tree" src="http://www.kintera.org/atf/cf/%7B124054d6-3e53-4efa-8f26-c97fd881dd86%7D/GIVING%20TREE%20FOR%20WEBSITE.PNG">
	</script>

	<footer>

	</footer>
</body>
</html>